<footer class="container">
    <hr />

    <div class="d-flex justify-content-center mt-1">
        <p class="small text-muted">
            Made with <i class="bi bi-heart text-danger"></i> by
            <a href="https://pbouillon.github.io/" target="_blank">Pierre Bouillon</a>
            -
            See on
            <a href="https://github.com/pbouillon/moving-list" target="_blank">
                <i class="bi bi-github"></i> GitHub
            </a>
            -
            Pictures from <a href="https://unsplash.com/" target="_blank">Unsplash</a>
        </p>
    </div>
</footer>
